:root {
  --text-primary: #443fde;
  --text-orange: #c98b40;
  --text-green: #339968;
  --text-red: #bc362f;
  --text-dark: #030407;
  --text-grey: #3e404c;
  --text-light: #606476;
  --text-white: #ffffff;

  --bg-primary: #443fde;
  --bg-secondary: #f3f3fc;
  --bg-orange: #fef7f1;
  --bg-green: #f1f8f4;
  --bg-red: #fdf2f2;
  --bg-dark: #24262d;
  --bg-grey: #b2b3bd;
  --bg-light: #f9f9fb;
  --bg-white: #ffffff;

  --border-primary: #443fde;
  --border-light: #ebebef;
}
