.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--border-light);
  background-color: var(--bg-white);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 170px;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__open-menu {
    display: none;

    @media (max-width: 768px) {
      border: 1px solid var(--border-light);
      background-color: var(--bg-white);
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__close-menu {
    display: none;

    @media (max-width: 768px) {
      display: block;
      position: absolute;
      top: 24px;
      right: 24px;
    }
  }

  &__nav {
    @media (max-width: 768px) {
      display: block;
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      top: 0;
      right: 0;
      background-color: var(--bg-white);
      padding: 24px;
      z-index: 100;
      transform: translateX(100%);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
      transition: 0.3s;

      &._open {
        transform: translateX(0);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__nav-list {
    display: flex;
    gap: 12px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
